instaloader
requests_oauthlib
requests
filetype
tweepy
python-pinterest
configparser
nltk
sweet
# pytumblr2
pytumblr
# python-pinterest
py3-pinterest
urllib3
selenium
chromedriver-py
# chromedriver-autoinstaller
# sudo apt-get install chromium-chromedriver
